<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.ar" android:required="false" />

    <application
        android:label="tryon"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- Flutter Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- CameraKit AR Activity -->
        <activity
            android:name="com.camerakit.camerakit_flutter.ARCameraActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />

        <!-- Flutter metadata -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- CameraKit config -->
        <meta-data
            android:name="com.snap.camerakit.app.id"
            android:value="c5295d1e-e8a2-4c93-9823-4e7596c9fc04" />

        <meta-data
            android:name="com.snap.camerakit.api.token"
            android:value="eyJhbGciOiJIUzI1NiIsImtpZCI6IkNhbnZhc1MyU0hNQUNQcm9kIiwidHlwIjoiSldUIn0.eyJhdWQiOiJjYW52YXMtY2FudmFzYXBpIiwiaXNzIjoiY2FudmFzLXMyc3Rva2VuIiwibmJmIjoxNzYyMTEwOTg2LCJzdWIiOiJjNTI5NWQxZS1lOGEyLTRjOTMtOTgyMy00ZTc1OTZjOWZjMDR-U1RBR0lOR35mNmQzMTlkYi0wMDNlLTRiN2MtODAwYy0wZTQ5MmU4ZjMxNmEifQ.MYC4AW_uPi2j_pPF9-mv9YV8uNC046rj4eCY9Em4018" />

    </application>

    <!-- Required for text processing -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
